<div class="p-6">
  <div class="flex items-center justify-between space-x-4">
    <div class="flex items-center">
      <%= profile_image(@profile, size: "large") %>
    </div>
    <div class="flex-1">
      <div>
        <h1 class="font-bold text-3xl"><%= @profile.name %></h1>
        <%= "@" + @profile.username %>
      </div>
    </div>
    <div>
      <%= link_to "Edit profile",  edit_user_registration_path, class: "inline-flex justify-center items-center px-5 py-2 rounded-full border ring-4 focus:ring-sky-50 ring-transparent hover:ring-sky-50 hover:border-gray-300" if current_user %>
    </div>
  </div>

  <div class="mt-10 -mx-6">
    <% @profile.tweets.each do |tweet| %>
      <%= render partial: "tweets/#{tweet.tweet_type}", locals: { tweet: tweet } %>
    <% end %>
  </div>
</div>
