<div class="px-6 py-3 border-b" id="<%= dom_id(tweet) %>">
  <div class="flex space-x-3 items-start">
    <div class="flex-shrink-0">
      <%= profile_image(tweet.user) %>
    </div>
    <div class="flex-1">
      <p class="font-bold"><%= link_to tweet.user.name, profile_path(tweet.user), class: "hover:underline", data: {turbo: false} %></p>
      <%= link_to tweet, data: {turbo: false} do %>
        <div class="prose prose-lg"><%= tweet.body %></div>
      <% end %>

      <%= render "tweets/controls", tweet: tweet %>
    </div>
  </div>
</div>
