<div class="mb-8">
  <%= render "form" %>
</div>

<%= turbo_frame_tag "tweets" do %>
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweets/#{tweet.tweet_type}", locals: { tweet: tweet } %>
  <% end %>
<% end %>

<%= turbo_frame_tag Tweet.new do %>
  <% if Tweet.all.none? %>
    <%= render "empty" %>
  <% end %>
<% end %>
